# Python 02 - Data Structures

# Data structures in python

string

lists

Tuples

Dictionaries

sets

# Lists 

list is like a array and heterogenous lists

In [1]:
mylists = [ 1,2,3,4,5.5,"hello world"]

In [2]:
print(mylists)
print(type(mylists))

[1, 2, 3, 4, 5.5, 'hello world']
<class 'list'>

In [3]:
l2 = list([1,2,"hello"])

In [4]:
print(l2)
print(type(l2))

[1, 2, 'hello']
<class 'list'>

In [5]:
l3 = list(l2)
print(l3)
print(type(l3))

[1, 2, 'hello']
<class 'list'>

In [6]:
l3 = l2 + l3

print(l3)

[1, 2, 'hello', 1, 2, 'hello']

In [7]:
l3.extend(l2)

print(l3)

[1, 2, 'hello', 1, 2, 'hello', 1, 2, 'hello']

In [8]:
l4 = [i*i for i in range(1,6)]

In [9]:
print(l4)

[1, 4, 9, 16, 25]

# List Slicing

In [10]:
l4[0:3]

[1, 4, 9]

In [11]:
l4[-1]

25

In [12]:
l4[-3:]

[9, 16, 25]

# Insertion and Deletion

append

insert 

+++++++++++++++++++++

remove 

pop 

del

In [13]:
k = [1,2,3]

In [14]:
k.append(4)

In [15]:
print(k)

[1, 2, 3, 4]

In [16]:
k.append([1,2])

In [17]:
print(k)

[1, 2, 3, 4, [1, 2]]

In [18]:
k += [4,5,6]

In [19]:
print(k)

[1, 2, 3, 4, [1, 2], 4, 5, 6]

In [20]:
print(k[2])

3

In [21]:
print(k[4])

[1, 2]

In [22]:
print(k[4][0])

1

In [23]:
k.insert(2,15)

In [24]:
print(k)

[1, 2, 15, 3, 4, [1, 2], 4, 5, 6]

# removing

In [25]:
k

[1, 2, 15, 3, 4, [1, 2], 4, 5, 6]

In [26]:
k.remove(2)

In [27]:
print(k)

[1, 15, 3, 4, [1, 2], 4, 5, 6]

In [28]:
del k[0]

In [29]:
print(k)

[15, 3, 4, [1, 2], 4, 5, 6]

In [30]:
k.pop()

6

In [31]:
print(k)

[15, 3, 4, [1, 2], 4, 5]

In [32]:
l =([1,2,3])
l *=4  # l = l*4

In [33]:
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
l = ["apple","mango",80]

80 in l

True

In [35]:
for i in range(len(l)):
    print(l[i])

apple
mango
80

In [36]:
for i in l:
    print(i)

apple
mango
80

# Python - Sorting And Searching On Lists

In [37]:
n = [1,2,3,4,78,43,79,34,78]

In [38]:
print(max(n))
print(min(n))

79
1

# linear search

In [43]:
print(n.index(4)) # serching index of 4

3

In [44]:
n = sorted(n)

In [45]:
print(n)

[1, 2, 3, 4, 34, 43, 78, 78, 79]

In [46]:
o = [34,1,23,76.89]
o.sort()
print(o)

[1, 23, 34, 76.89]

In [47]:
o.sort(reverse=True)

In [48]:
print(o)

[76.89, 34, 23, 1]

In [51]:
number = input()
print(number)

print(type(number))

1 2 3 45 667
1 2 3 45 667
<class 'str'>

In [52]:
number = input().split()
print(number)

print(type(number))

1 2 434 56
['1', '2', '434', '56']
<class 'list'>

In [53]:
number = [number for number in input().split()]
print(number)
print(type(number))

1 2 3 567 89
['1', '2', '3', '567', '89']
<class 'list'>

In [54]:
number = [int(number) for number in input().split()]

print(number)
print(type(number))

1 2 45 67 89
[1, 2, 45, 67, 89]
<class 'list'>

In [55]:
number = [int(number)*int(number) for number in input().split()]

print(number)
print(type(number))

1 2 3 4
[1, 4, 9, 16]
<class 'list'>

#  Dictionaries

# key and value

In [56]:
d = {}

print(d)
print(type(d))

{}
<class 'dict'>

In [57]:
d = {"mango":69,"apple":96,"banana":45}

In [58]:
print(d)
type(d)

{'mango': 69, 'apple': 96, 'banana': 45}

dict

In [59]:
d["mango"]

69

In [60]:
d["lichi"] = 120

In [61]:
print(d)

{'mango': 69, 'apple': 96, 'banana': 45, 'lichi': 120}

In [62]:
d["grap"] = [10,20]

In [63]:
print(d)

{'mango': 69, 'apple': 96, 'banana': 45, 'lichi': 120, 'grap': [10, 20]}

In [64]:
d["grap"]

[10, 20]

In [65]:
d["pinapple"] = {"small":70,"large":120}

In [66]:
print(d)

{'mango': 69, 'apple': 96, 'banana': 45, 'lichi': 120, 'grap': [10, 20], 'pinapple': {'small': 70, 'large': 120}}

In [67]:
d["pinapple"]

{'small': 70, 'large': 120}

In [69]:
d["pinapple"]["small"]

70

In [70]:
print(d.keys())

dict_keys(['mango', 'apple', 'banana', 'lichi', 'grap', 'pinapple'])

In [71]:
print(d.values())

dict_values([69, 96, 45, 120, [10, 20], {'small': 70, 'large': 120}])

In [72]:
[print(i) for i in d.values()]

69
96
45
120
[10, 20]
{'small': 70, 'large': 120}

[None, None, None, None, None, None]

In [74]:
print(d["mango"])

69

In [75]:
d.get("mango")

69

In [77]:
print(d.get("mangoes"))

None

In [95]:
print(d.items())

dict_items([('mango', 69), ('apple', 96), ('banana', 45), ('lichi', 120), ('grap', [10, 20]), ('pinapple', {'small': 70, 'large': 120})])

In [96]:
l = list(d.items())
print(l)

[('mango', 69), ('apple', 96), ('banana', 45), ('lichi', 120), ('grap', [10, 20]), ('pinapple', {'small': 70, 'large': 120})]

In [97]:
del d["pinapple"]

print(d)

{'mango': 69, 'apple': 96, 'banana': 45, 'lichi': 120, 'grap': [10, 20]}

In [98]:
d2 = {"aloo":45}

d.update(d2)

print(d)

{'mango': 69, 'apple': 96, 'banana': 45, 'lichi': 120, 'grap': [10, 20], 'aloo': 45}

In [99]:
print(len(d))

6

In [100]:
d.clear()

print(len(d))
print(d)

0
{}

In [101]:
l1 = ["apple","banana","papaya","lichi"]
l2 = [20,59,49,70]


d = zip(l1,l2)

In [102]:
print(d)

<zip object at 0x7f371146e0a0>

In [103]:
d = dict(zip(l1,l2))

In [104]:
print(d)

{'apple': 20, 'banana': 59, 'papaya': 49, 'lichi': 70}

In [105]:
l1 = ["apple","banana","papaya","lichi"]
l2 = [20,59,49]


d = zip(l1,l2)

In [106]:
print(d)

<zip object at 0x7f3711751960>

In [107]:
d = dict(zip(l1,l2))

In [108]:
print(d)

{'apple': 20, 'banana': 59, 'papaya': 49}

In [109]:
for i in d:
    print(i)

apple
banana
papaya

In [112]:
for i in d.keys():
    print(i)

apple
banana
papaya

In [113]:
for i in d.values():
    print(i)

20
59
49

In [119]:
for i in d.keys() and d.values():
    print(i)

20
59
49

In [120]:
for i in d.keys() or d.values():
    print(i)

apple
banana
papaya

# Tuple

In [122]:
t = (1,2,3,"hello")

In [123]:
t

(1, 2, 3, 'hello')

In [124]:
t[0]

1

In [126]:
# convert a tuple into a list


t = list(t)

In [127]:
print(t)
print(type(t))

[1, 2, 3, 'hello']
<class 'list'>

In [128]:
t[0]

1

In [129]:
t[0] = 2

In [130]:
t = tuple(t)

In [131]:
print(t)
print(type(t))

(2, 2, 3, 'hello')
<class 'tuple'>

# concatenated a tuple

In [135]:
t1 = (1,2,3,4,5)
t2 = (2,7,8,9)

In [136]:
t3 = t1+t2

In [137]:
print(t3)

(1, 2, 3, 4, 5, 2, 7, 8, 9)

In [138]:
t4 = t3*4

In [139]:
print(t4)

(1, 2, 3, 4, 5, 2, 7, 8, 9, 1, 2, 3, 4, 5, 2, 7, 8, 9, 1, 2, 3, 4, 5, 2, 7, 8, 9, 1, 2, 3, 4, 5, 2, 7, 8, 9)

In [141]:
print(min(t4))

1

In [142]:
print(max(t4))

9

In [143]:
del t4

# set : stores only unique values

In [145]:
s = set([1,4,5,6,2,4,6,8])

In [146]:
print(s)

{1, 2, 4, 5, 6, 8}

In [147]:
s2 = {3,4,56,1}

In [148]:
print(s2)
print(type(s2))

{56, 1, 3, 4}
<class 'set'>

In [149]:
s2.add(50)

In [150]:
print(s2)

{1, 3, 4, 50, 56}

In [151]:
print(s)
print(s2)

{1, 2, 4, 5, 6, 8}
{1, 3, 4, 50, 56}

In [152]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 8, 50, 56}

In [153]:
s | s2 # | repersent union

{1, 2, 3, 4, 5, 6, 8, 50, 56}

In [154]:
s & s2

{1, 4}

In [156]:
s.intersection(s2) # intersection = & work as and condtion

{1, 4}

In [157]:
s - s2

{2, 5, 6, 8}

In [158]:
a1 = {1,2,3,4}
a2 = {2,3,2,4,56}

In [159]:
a1^a2 # those element which are only in one of the set

{1, 56}