# If else

In [1]:
weather = input()

if weather == "Rainy" or "rainy":
    
    print("lets stay home")
    
elif weather == "Suuny" or "sunny":
    
    print("lets go martket")
    
else:
    
    print("lets play")

12
lets stay home

# while loop

In [2]:
n = 10 # intialize
i = 1 # intialize

while (i<=n): # termination condition
    print("step %s" %i)
    i += 1 # code
print("loop fininised")

step 1
step 2
step 3
step 4
step 5
step 6
step 7
step 8
step 9
step 10
loop fininised

In [3]:
print(range(10))

range(0, 10)

In [4]:
for i in range(10):
    
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [5]:
for i in range(1,10):
    
    print(i,end=",")

1,2,3,4,5,6,7,8,9,

In [6]:
for i in range(1,10,2):
    
    print(i,end=",")

1,3,5,7,9,

In [7]:
no = 1

for i in range(1,11):
    no *=i
    print(no)
    
print("last %d" %no)

1
2
6
24
120
720
5040
40320
362880
3628800
last 3628800

In [8]:

for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [9]:
n = 5
m = 10
for x in range(n):
    print(x,end=",")
    for y in range(m):
        print(y)
        
print(x,y)

0,0
1
2
3
4
5
6
7
8
9
1,0
1
2
3
4
5
6
7
8
9
2,0
1
2
3
4
5
6
7
8
9
3,0
1
2
3
4
5
6
7
8
9
4,0
1
2
3
4
5
6
7
8
9
4 9

In [10]:
n = 5

for x in range(n):
    
    for y in range(n):
        
        print(max(x+1,y+1,n-x,n-y),end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [11]:
for i in range (1,10):
    pass # if i am confesd what to write in this block then simply use pass

In [12]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [13]:
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [14]:
lower = 1
upper = 100
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
        
            if (num % i) == 0:
              
                break # break will break on if condition and print those no
        else:
            print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [15]:
a = "coding blocks"


for i in range(len(a)):
    print(a[i])

c
o
d
i
n
g

b
l
o
c
k
s

In [16]:
a = "coding blocks"


for i in range(len(a)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [17]:
for i in a:
    print(i)

c
o
d
i
n
g

b
l
o
c
k
s

In [18]:
par = ''' This is nitin gupta 
bolo jai mata di '''

In [19]:
print(par)

 This is nitin gupta
bolo jai mata di

In [20]:
l = par.split()

In [21]:
print(type(l))

<class 'list'>

In [22]:
print(type(par[1]))

<class 'str'>

In [23]:
par.splitlines()

[' This is nitin gupta ', 'bolo jai mata di ']

In [24]:
fruit = "mango"

fruit.upper()

'MANGO'

In [25]:
shake = "   apple shake   "

In [26]:
print(shake)

   apple shake

In [27]:
shake.lstrip()

'apple shake   '

In [28]:
shake.rstrip()

'   apple shake'

In [29]:
shake.strip()

'apple shake'

In [30]:
a = "45"

a.isdigit()

True

In [32]:
a = "aa"

a.isdigit()

False

In [34]:
a = "aa"

a.isalpha()

True

In [35]:
b = "abb123"

b.isalnum()

True

In [37]:
b = "  "

b.isspace()

True

In [38]:
b = "aa  "

b.isspace()

False

# Some More string Function 

1) Find Replace

2) Replace

3) Count Function

4) Join Function

5) Title Function

6) Capitalize

In [39]:
a = "I lovr apple Juice. and i like eat green apple"

In [40]:
a.find("apple")

7

In [42]:
a.rfind("apple")

41

In [43]:
a.rfind("Apple")

-1

In [45]:
a.find("apple",30)

41

In [46]:
a.index("apple")

7

In [47]:
a.index("apple",30)

41

In [48]:
a.replace("apple","mango")

'I lovr mango Juice. and i like eat green mango'

In [51]:
a.count("apple")

2

In [53]:
l = a.split()
print(l)

['I', 'lovr', 'apple', 'Juice.', 'and', 'i', 'like', 'eat', 'green', 'apple']

In [54]:
"_".join(l)

'I_lovr_apple_Juice._and_i_like_eat_green_apple'

In [55]:
b = ","
b.join(l)

'I,lovr,apple,Juice.,and,i,like,eat,green,apple'

In [56]:
name_org = "coding blocks"

name_org.capitalize()

'Coding blocks'

In [57]:
name_org.title()

'Coding Blocks'