# OOPS in A Python

In [1]:
class person():
    pass

p = person()


print(p)
print(type(p))

<__main__.person object at 0x7fed50c2c250>
<class '__main__.person'>

In [2]:
class nit():
    def sayhello(self):
        print("hello")

In [3]:
p = nit()

In [4]:
p.sayhello()

hello

In [5]:
class nit():
    def sayhello(self,name):
        print("hello " +name)

In [6]:
p = nit()

In [7]:
p.sayhello("nitin")

hello nitin

In [8]:
class nitin():
    def __init__(self,pname,addres):
        self.name = pname
        self.addres = addres
        
    def sayhello(self, name):
        print("Hello "+name)
        
    def con(self):
        print("my name is ",self.name)
        print("my address is ",self.addres)

In [9]:
p = nitin("nitin","dwarka")

In [10]:
p.sayhello("nitin")

Hello nitin

In [11]:
p.con()

my name is  nitin
my address is  dwarka

In [12]:
p2 = nitin("nilesh","mayaur vihar")

In [13]:
p2.con()

my name is  nilesh
my address is  mayaur vihar

In [14]:
class dog():
    
    color = "red"
    activity = []
    
    def __init__ (self,breed):
        self.breed = breed
        
        
    def addactivity(self,act):
        self.activity.append(act)
        
    def doactivity(self):
        print(self.breed)
        print(self.activity)

In [15]:
d1 = dog("german")
d2 = dog("hilliii")

d1.addactivity("high jump")
d1.addactivity("hilla raha hai")

d2.addactivity("mar gaya")
d2.addactivity("soo gaya")

In [16]:
d1.doactivity()
d2.doactivity()

german
['high jump', 'hilla raha hai', 'mar gaya', 'soo gaya']
hilliii
['high jump', 'hilla raha hai', 'mar gaya', 'soo gaya']

In [17]:
class dog():
    
    color = "red"
   
    
    def __init__ (self,breed):
        self. activity = []
        self.breed = breed
        
        
    def addactivity(self,act):
        self.activity.append(act)
        
    def doactivity(self):
        print(self.breed)
        print(self.activity)

In [18]:
d1 = dog("german")
d2 = dog("hilliii")

d1.addactivity("high jump")
d1.addactivity("hilla raha hai")

d2.addactivity("mar gaya")
d2.addactivity("soo gaya")

In [19]:
d1.doactivity()
d2.doactivity()

german
['high jump', 'hilla raha hai']
hilliii
['mar gaya', 'soo gaya']

In [24]:

class school_memeber():
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print("init school member %s" %self.name)

    def introduce(self):
        print("Name : %s Age : %d" %(self.name,self.age))




class teacher(school_memeber):
    def __init__(self,name,age,salary):
        school_memeber.__init__(self,name,age)

        self.salary = salary

        print("init teacher %s" %self.name)

    def introduce(self):
        school_memeber.introduce(self)
        print("salary %d" %self.salary)
        
        
class student(school_memeber):
    def __init__(self,name,age,rollno):
        school_memeber.__init__(self,name,age)
        self.rollno = rollno
        
        print("init student %s" %self.name)
        
        
    def introduce(self):
        school_memeber.introduce(self)
        print("roll no %d" %self.rollno)

In [25]:
p = school_memeber("nitin",24)

init school member nitin

In [26]:
p.introduce()

Name : nitin Age : 24

In [27]:
s= teacher("nitin",24,54000)

init school member nitin
init teacher nitin

In [28]:
s.introduce()

Name : nitin Age : 24
salary 54000

In [29]:
t = student("nitin",24,1)

init school member nitin
init student nitin

In [30]:
t.introduce()

Name : nitin Age : 24
roll no 1