# user Input

In [2]:
name = input()
print("Hello"+name)

nitin
Hellonitin

In [1]:
name = print("hello",input())

nitin
hello nitin

In [4]:
print(type(name))

<class 'str'>

In [5]:
name = input()
print("Hello"+name)

12
Hello12

In [6]:
print(type(name))

<class 'str'>

In [7]:
age = int(name)

In [8]:
print(age)

12

In [9]:
print(type(age))

<class 'int'>

In [10]:
number = int(input())

12

In [11]:
print(type(number))

<class 'int'>

In [12]:
l = "20 30 40 50"

In [13]:
print(l)

20 30 40 50

In [15]:
l = "20 30 40 50".split()
print(l)

['20', '30', '40', '50']

In [16]:
number = [no for no in l]
print(number)

['20', '30', '40', '50']

In [17]:
number = [int(no) for no in l]
print(number)

[20, 30, 40, 50]

In [18]:
number = [no for no in input().split()]

10 20 30

In [19]:
print(type (number))

<class 'list'>

In [26]:
number = [int(no) for no in input().split()]
print(number)

12 23 454
[12, 23, 454]

In [22]:
print(number)

[12, 23, 40]

In [23]:
print(type(number))

<class 'list'>

# Operators & Expressions

# a = (b+c)%c # here a is operators and (b+c)%c is expression

Arithmetic operator

In [28]:
10/3

3.3333333333333335

In [29]:
10//3 # // float operator

3

In [32]:
10 % 4 # % gives reminder

2

In [34]:
5 **3 # power **

125

Assignment operator

In [39]:
a = 5
a += 1 # a = a + 1
print(a)

6

In [41]:
b = 2
b *= 6 ## b = b*6
print(b)

12

In [44]:
c = 10
c //=3

print(c)

3

In [46]:
d = 5
d **=2
print(d)

25

# Comparison operator

=
==
!=
<
>
>=
<=

In [51]:
a = 5

print(a == 5)

print (a != 5)

print (a <= 5)

print (a>= 5)

print(a>5)

print(a<5)

True
False
True
True
False
False

# logical operator

 and or not

In [52]:
weather = "Sunny"
temp = 30

In [53]:
if weather == "Sunny" and temp > 30 :
    print("lets go")
else:
    print("not go")

not go

In [54]:
if weather == "Sunny" or temp > 30 :
    print("lets go")
else:
    print("not go")

lets go

In [56]:
if not weather == "Sunny" or temp > 30 :
    print("lets go")
else:
    print("not go")

not go

In [57]:
# program for cal Area and primeter
l = int(input())
b = int(input())

5
4

In [61]:
area = (l*b)
perimeter = 2*(l*b)


print("Area is {}, and perimeter is {}".format(area,perimeter))

Area is 20, and perimeter is 40

In [65]:
print("Area is %s , and perimeter is %s "%(area,perimeter) )

Area is 20 , and perimeter is 40